/* Estilos para contenedores globales */
  
.panel-container {
    display: flex;
    min-height: 100vh;
    width: 80vw;
    margin:  auto;
}

.left-container {
    color: #DDF9F1;
    width: 40vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: calc(50% - 40vw);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}


.right-container {
    color: #DDF9F1;
    width: 50vw;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding-top: 10%;
    margin-left: 40vw;
}

/* Estilos para la parte izquierda de la página */
/* Estilos para nombre, profesion, descripción*/
.name-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.name-container h1 {
    font-size: 54px;
}

.name-container h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 1rem;
}

.name-container p {
    font-size: 16px;
    margin-top: 1rem;
    font-weight: 300;
    color: #8892b0;
}

/* Estilos para el navigator */
.navi-container {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.navi-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navi-container ul > li {
    width: 45%;
    display: flex;
    align-items: center;
    color: #8892b0;
    cursor: pointer;
}


.line-span {
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #8892b0;
    margin-right: 10px;
    transition: width 0.3s ease, background-color 0.3s ease;
}
  
.navi-text {
    color: #8892b0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navi-container ul > li:hover .line-span {
    width: 40px;
    background-color: white;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navi-container ul > li:hover .navi-text {
    color: white;
    transition: color 0.3s ease;  
}

/* Estilos para socials */
.socials-container {
    width: 60%;
    height: 20%;
    display: flex;
    align-items: last baseline;
    margin-top: 5%;
    gap: 10px
}

.socials-container a {
    color: #8892b0;
    font-size: 1.75rem;
    transition: color 0.3s ease;
}
  
.socials-container a:hover {
    color: #ffffff;
}

/* Estilos para el lado derecho de la página - About, Experience, Projects */
.parag-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.parag-container > p {
    font-size: 16px;
    font-weight: 400;
    color: #8892b0;

    line-height: 1.75rem;
    text-align: justify;
}

.parag-container > p >  strong {
    color: #ccd1e0;
}

/* Estilos para la lista de experiencia*/
.experience-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

.experience-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 20px;
}

.experience-card {
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    color: #ccd6f6;
    transition: all 0.2s ease-in-out;
    max-width: 700px;
}

.experience-card:hover {
    box-shadow: 
        0 5px 10px rgba(100, 255, 218, 0.15),
        0 -5px 10px rgba(100, 255, 218, 0.05);
    font-size: 16px ;
}

.experience-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.experience-date {
    color: #8892b0;
    font-size: 12px;
    font-weight: 400;
}

.experience-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #ccd6f6;
}
 
.experience-description {
    font-size: 16px;
    color: #a8b2d1;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}
  
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
  
.tech-tag {
    background: #112240;
    color: #64ffda;
    font-size: 12px;
    padding: 0.35rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
}