* {
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
    background-color: #0C1223;
}

::selection {
    background-color: #17e2d42e; 
    color: white;
}

body::before {
    content: '';
    position: fixed;    
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    pointer-events: none;
    background: radial-gradient( circle 500px at var(--x, 50%) var(--y, 50%),rgba(255, 255, 255, 0.08), transparent 80% );
    z-index: 9999;
}
  